.card {
  border: 1px solid #da0819;
  border-radius: 8px;
  overflow: hidden;

  cursor: pointer;
  margin-bottom: 20px;
}

.card-img-top {
  width: 100%;

  height: auto;
  border-bottom: 1px solid #ddd;
  transition: transform 0.2s ease-in-out;
}
.card-img-top:hover {
  transform: scale(1.05);
}

.card-body {
  position: relative;
  padding: 1rem;
}

.card-title {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  -webkit-line-clamp: 3; /* Adjust the number of lines to clamp */
  transition: -webkit-line-clamp 0.5s ease; /* Smooth transition */
}
.card-text.expanded {
  -webkit-line-clamp: unset;
}

.read-more-button {
  cursor: pointer;
  color: #3498db; /* Adjust the color as needed */
  text-decoration: underline;
}

.status-select {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.status {
  margin-top: auto;
}
