.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.movie-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 10px;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #da0819;
  color: #fff;
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: blue;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.98);
}
